/* data reset */
.clickable {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}
.clickable:hover {
    cursor: pointer;
    border: 3px solid rgb(233,50,117);
}

/* chart legend text */
.nv-series text {
    fill: white;
    margin: 20px;
}

.metric-title {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}